

#site{
    position: relative;
}

h1{
    margin: 0;
}

.mainHead{
    background: #343434;
    width: 100%;
    height: 100px;
    margin: 0;
    position: relative;
}

.mainHeadTitle{
    color: white;
    margin-left: 20px;
    padding-top: 24px;
    font-size: 2.8em;
    cursor: pointer;
}

.headerLinks{
    color: white;
    display: inline-block;
}

.linkItem{
    display: inline-block;
    margin-right: 20px;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
}

.secondHd{
    width: 100%;
    height: 35px;
    background: #707070;
    position: relative;
}

/*@media only screen and (min-width: 320px) and (max-width: 479px){ ... }*/



@media only screen and (max-width: 800px) { 

    .mainHead{
        text-align: center;
    }

    .headerLinks{
        color: white;
        display: inline-block;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: table;
        padding: 0;
        padding-top: 2px;
    }

    .mainHeadTitle{
        color: white;
        font-size: 3.2em;
        text-align: center;
        display: block;
        margin: 0 auto;
        display: inline-block;
    }

    .secondHd > ul{
        
    }
 }

 @media only screen and (min-width: 801px){
    .headerLinks{
        float: right;
        margin-top: 60px;
        margin-right: 20px;
    }

    .mainHeadTitle{
        display: inline-block;
    }
  }

  @media only screen and (max-width: 480px){ 

    .linkItem{
        display: none;
        font-size: 1.7em;
        margin-right: 0;
    }

    .headerLinks{
        margin: 0 0 0 0px;
        display: inline-block;
        width: 100%;
        text-align: left;
        
    }

    .secondHd{
        text-align: left;
    }

    .linkItemShow{
        display: inline-block;
        width: 100%;
        list-style: none;
        text-indent: 20px;
    }

    .navButton{
        position: absolute;
        background: white;
        border: white;
        color: #707070;
        padding: 2px;
        padding-top: 0px;
        width: 30px;
        height: 30px;
        border-radius: 2px;
        font-size: 1.35em;
        right: 10px;
        top: 2px;  
    }

    .navButton:hover{
        cursor: pointer;
        background: #c7dbf9;
        color: black;
    }

    .dropDownItem{
        display: block;
        width: 100%;
        color: #565656;
        background: white;
        display: block;
        margin: 0;
        border-bottom: 1px solid rgba(112, 112, 112, 0.2);
        text-indent: 20px;
    }

    .dropDownItem:hover{
        background: #565656;
        color: white;
    }
 }

