body, html{
    background: #f7f7f7;
}

h1{
    margin: 0;
}

.mainHead{
    background: #406183;
    width: 100%;
    height: 100px;
}

.mainHeadTitle{
    color: white;
    margin-left: 20px;
    padding-top: 24px;
    font-size: 2.8em;
}