@media only screen and (min-width: 801px){
    #siteMain{
        width: 80%;
        margin: 20px auto;
    }
    
}

@media only screen and (max-width: 800px) { 
    #siteMain{
        width: 90%;
        margin: 20px auto;
    }
}

@media only screen and (max-width: 480px){
    #siteMain{
        width: 100%;
        margin: 20px auto;
    }
}


body, html{
    font-family: arial, Helvetica, sans-serif;
    background: #f7f7f7;
    margin: 0;
}

